#affwp-register-form,#affwp-login-form{
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;

    .affwp-form legend {
        text-transform: uppercase;
    }
}

#affwp-affiliate-dashboard {
	#affwp-affiliate-dashboard-tabs {
		background-color: #00aeef;
		padding: 25px 35px;
		text-align: center;

		li a {
			color: #FFF;
		}
	}

	.affwp-tab-content {
		max-width: 1100px;
		margin: 0 auto;
		padding: 35px;
	}
}







