.ecs-events.compact {
	margin: 0 auto;

	p {
		display: none;
	}
}

.select2-choice {
	min-width: 200px;
}

@media (max-width: 768px) {
	.uabb-ribbon-wrap .uabb-ribbon {
		width: 100%;
		max-width: 100%;
	}
}
