.ecs-events.compact {
	margin: 0 auto;

	p {
		display: none;
	}
}

.select2-choice {
	min-width: 200px;
}

.tribe-tickets-meta-label h3 a.open-disclaimer {
	color: $color--primary;
	font-weight: 800;
	text-decoration: underline;
}

.main-true-events {
	.ecs-filterbar {
		background-color: transparent;

		.select2-container--default .select2-selection--single {
			border: 1px solid #fff;
			border-radius: 0;
			padding: 10px 15px;
			color: #fff;
			height: 46px;
			vertical-align: top;
			outline: 0;
			background: transparent;
			font-size: 16px;

			.select2-selection__arrow {
				height: 46px;
			}
		}
	}

	.ecs-events {
		.ecs-event {
			// padding: 15px !important;
			background-image: url(assets/img/event-list-bg.jpg);
			background-size: cover;
			margin-bottom: 15px;
			.ecs-wrap {
				
				.ecs-thumbnail {
					position: absolute;
					width: 100%;

					img {
						opacity: 0;
					}

					
				}

				.summary {
					padding: 80px 20px 0px 20px;
					position: relative;
					.ecs-event-title {
						line-height: 30px;
						a {
							font-size: 28px;
						}
					}
					.ecs-button a {
						background-color: $color--primary;
						color: #FFF;
						padding: 10px 15px;
						border-radius: 0;
					}
				}

				&::before {
					background-color: transparent;
					content: "";
					transition: all .3s ease-in-out;
					// display: inline-block;
				}
			}

			&:hover {

				.ecs-wrap::before {
					position: absolute;
					background-color: rgba(0,0,0,0.8);
					height: 100%;
					width: 100%;
					transition: all .3s ease-in-out;
				}
			}

		}
	}

}

.page-tribe-attendee-registration, .page-template-page-tribe-attendee-registration {
	.fl-page-content {
		background-color: #000;
		color: #FFF !important;
		h1 {
			color: #FFF;
			text-align: center;
		}
		.tribe-block__tickets__registration__event {
			border: 1px solid #4a4a4a;
			.tribe-block__tickets__registration__tickets__header__price, .tribe-block__tickets__registration__tickets__header {
				color: #FFF;
			}
			h2 a {
				color: $color--primary;
			}
			.tribe-block__tickets__registration__status.incomplete {
				color: rgba(255,255,255,0.8);
			}
			.tribe-block__tickets__item__attendee__fields {
				background-color: #111111;
				h3, h4, label, .tribe-tickets-meta-label, .tribe-tickets-meta-label h3 {
					color: #fff;
				}
			}
			input[type=text] {
				border: 2px solid #00aeef;
				background: transparent;
				color: #FFF;
				font-size: 18px;
				margin: 0 !important;
				padding: 30px 20px;
			}
			
		}
		.tribe-block__tickets__item__attendee__fields__loader {
			background-color: rgba(0,0,0,0.7)
		}
		.tribe-block__tickets__item__attendee__fields__error, .tribe-block__tickets__item__attendee__fields__success {
			text-align: center
		}
		
	}
}

@media (max-width: 768px) {
	.uabb-ribbon-wrap .uabb-ribbon {
		width: 100%;
		max-width: 100%;
	}
}
