.page-id-426 {
	background-color: #000;

	.loading {
		h1 {
			@media (max-width: 767px) {
				font-size: 40px;
				margin: 0 0 30px;
			}
		}
	}

	.fitting-facets {

		select {
			display: block;
			font-size: 16px;
			font-family: sans-serif;
			font-weight: 700;
			color: #FFF;
			line-height: 1.3;
			padding: .6em 1.4em .5em .8em;
			width: 100%;
			max-width: 100%;
			box-sizing: border-box;
			margin: 0;
			border: 2px solid $color--primary;
			box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
			// border-radius: .5em;
			-moz-appearance: none;
			-webkit-appearance: none;
			appearance: none;
			background-color: transparent;
			background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
				linear-gradient(to bottom, transparent 0%, transparent 100%) !important;
			background-repeat: no-repeat, repeat;
			background-position: right .7em top 50%, 0 0;
			background-size: .65em auto, 100%;
		}
	
		select::-ms-expand {
			display: none;
		}
	
		select:hover {
			border-color: #888;
		}
	
		select:focus {
			border-color: #aaa;
			// box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
			// box-shadow: 0 0 0 3px -moz-mac-focusring;
			color: #FFF;
			outline: none;
		}
	
		select option {
			font-weight: normal;
			color: #000 !important;
		}

		// noUI styles
		.noUi-connects {
			border-radius: 0;
		}

		.noUi-target {
			background: #333;
			border-radius: 0;
			border: none;
			box-shadow: none;
		}

		.noUi-handle {
			border: 1px solid #00aeef;
			border-radius: 35px;
			background: #00aeef;
			box-shadow: none;
			height: 35px;
			width: 35px;
			top: -13px;

			&:before,
			&:after {
				top: 9px;
			}
		}

		.noUi-horizontal {
			height: 10px;
		}

		.noUi-sliderValues {
			text-align: center;
			font-size: 64px;
			color: #00aeef !important;
		}

		.noUi-value.noUi-value-horizontal {
			padding-top: 3px;
		}

		#playerAge {
			max-width: 400px;
			margin: 0 auto;
		}

		.input-group {
			background-color: rgba(255, 255, 255, 0.0);

			>.form-control {
				border: 2px solid #00aeef;
				background: transparent;
				color: #FFF;
				font-size: 18px;
				margin: 0 !important;
				padding: 30px 20px;
				text-align: center;
			}

			.input-group-addon {
				line-height: 52px;
				padding: 0 20px;
				background: #000;
				font-size: 18px;
				// border: 4px solid rgba(255, 255, 255, 0.2);
				border: 4px solid #00aeef;
				border-left-width: 3px;
			}
		}

		label.error {
			text-align: center;
			width: calc(100% - 60px);
			padding: 10px 0 0 0;
		}

		.facetwp-bb-module h4 {
			text-transform: uppercase;
			font-size: 30px;
			font-weight: 800;
			color: #FFF;
		}

		.facetwp-counter,
		.facetwp-overlay {
			display: none;
		}


		input[type="radio"] {
			position: absolute;
			opacity: 0;
			z-index: -1;
		}

		input[type="radio"]+label::before {
			border-radius: 28px;
		}

		/* Checked */

		input[type="radio"]:checked+label {
			padding-left: 30px !important;
			color: #fff;

			&:before {
				top: 0;
				width: 100%;
				height: 56px;
				background: #00aeef !important;
			}
		}

		.facetwp-radio,
		label.radio {
			position: relative;
			display: inline-block;
			margin-right: 10px;
			margin-bottom: 10px;
			padding: 10px 30px 10px 50px !important;
			line-height: 36px;
			cursor: pointer;
			background: none !important;
			color: #FFF;
			font-size: 24px;
			z-index: 1;

			&::before {
				content: " ";
				position: absolute;
				top: 6px;
				left: 0;
				display: block;
				width: 40px;
				height: 40px;
				border: 2px solid #00aeef;
				border-radius: 28px;
				z-index: -1;
			}

			&.checked {
				padding-left: 30px !important;
				color: #fff;
				margin-right: 30px;

				&::before {
					top: 0;
					width: 100%;
					height: 100%;
					background: #00aeef;
				}
			}

			&.usssa {


				img {
					max-height: 175px;
					// margin-top: 30px;
				}

				&.checked {
					// img {
					// 	margin-top: 0px;
					// }

					&:before {
						top: 0 !important;

					}
				}
			}

			&.usa,
			&.tball {
				padding-right: 0;

				img {
					max-height: 100px;
				}

				&.checked::before {
					top: 0 !important
				}
			}

			&.modded:first-child {
				margin-right: 60px;
			}
		}

		.facetwp-facet-league .facetwp-radio::before {
			top: 20% !important
		}

		/* Checked */

		.noUi-connect {
			background: #00aeef !important;
		}

		/* Transition */

		.facetwp-radio,
		label {
			-webkit-transition: 0.25s all ease;
			-o-transition: 0.25s all ease;
			transition: 0.25s all ease;

			&::before {
				-webkit-transition: 0.25s all ease;
				-o-transition: 0.25s all ease;
				transition: 0.25s all ease;
			}
		}
	}

	.results-title-row {
		.uabb-blog-posts {
			overflow: visible;

			.uabb-blog-posts-shadow {
				background: radial-gradient(circle at top center, rgba(74, 74, 74, 1) 0%, rgba(0, 0, 0, 1) 50%);
				-webkit-box-shadow: 0px 10px 10px 0px rgba(0, 174, 239, 1);
				-moz-box-shadow: 0px 10px 10px 0px rgba(0, 174, 239, 1);
				box-shadow: 0px 10px 10px 0px rgba(0, 174, 239, 1);

				.uabb-post-heading {
					padding: 30px 0 50px 0;
				}

				.uabb-post-thumbnail {
					// background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 80%), url(https://stage.truediamondscience.com/wp-content/uploads/t1x.png);
					background-size: 100% auto;
					background-position: center top;

					img {
						object-fit: cover;
						object-position: center;
						height: 220px;
					}
				}

				.uabb-blog-posts-description {
					font-size: 18px;

					p {
						display: inline-block;
						font-weight: 300;
					}
				}
			}
		}







	}
}
