footer {

	#true-affiliates ul {
		list-style: none;
		padding: 0
	}

	#true-affiliates ul li {
		display: inline-block;
		margin-right: 15px
	}

	#true-affiliates ul li img {
		height: 30px;
		width: 30px;
	}

	#menu-footer-menu li+li:before {
		content: "/";
		display: inline-block;
		position: absolute;
		left: -2px;
		top: 8px;
		font-weight: 900;
		bottom: 0;
		margin: auto 0;
		color: #fff;
	}

	@media only screen and (max-width: 992px) {
		svg {
			max-width: 280px;
		}

		.tds-logo,
		.ts-logo {
			text-align: right;
		}
	}


	/* Small Devices, Tablets */
	@media only screen and (max-width: 768px) {

    #menu-footer-menu li+li:before {
      content: "";
    }
		.fl-icon-group-left,
		.fl-icon-group-right {
			text-align: center;
		}

		svg {
			max-width: 280px;
		}

		.tds-logo,
		.ts-logo {
			text-align: center;
		}

		#true-affiliates {
			ul {
				text-align: center;

				li {
					img {
						height: 40px !important;
						width: 40px !important;
					}
				}
			}
		}

		.fl-menu-mobile-toggle {
			.hamburger-menu rect {
				fill: #FFF !important;
			}

			.fl-menu-mobile-toggle-label {
				color: #FFF !important
			}
		}




	}
}
