.fl-page-content {

	/* BUTTONS */
	button.button,
	input[type=submit] {
		background-color: transparent;
		border: 3px solid $color--primary;
		border-radius: 0;
		font-size: 18px;
		padding: 10px 20px;
		transition: background 0.3s ease;

		&:hover {
			background-color: $color--primary;
			transition: background 0.3s ease;
			border: 3px solid $color--primary;
			color: #FFF;
		}
	}

	a.button {
		background-color: $color--primary;
		color: #FFF;
		border: none;
		border-radius: 0;
		transition: background 0.3s ease;
		&:hover {
			background-color: $color--primary--hover;
			border: none;
			color: #FFF;
		}
		&.checkout-button {
			color: #FFF;
			padding: 25px 10px;
			border: none;
			text-transform: uppercase;
			&:hover {
				background-color: $color--primary--hover;
				border: none;
				color: #FFF;
			}
		}
	}

	

	.fl-builder-content .cta-btn {

		a.fl-button,
		.uabb-creative-button-wrap a.uabb-button,
		.single_add_to_cart_button,
		.single_add_to_cart_button.disabled,
		.wc-product-reviews-pro-form-submit-row button {
			-ms-transform: skewX(-20deg);
			-webkit-transform: skewX(-20deg);
			transform: skewX(-20deg);
			background-color: transparent;
			border: 3px solid $color--primary;
			border-radius: 0;
			font-size: 18px;
			padding: 13px 30px;
			transition: background 0.3s ease;

			&:hover {
				background-color: $color--primary;
				transition: background 0.3s ease;
				border: 3px solid $color--primary;

				span {
					color: #FFF;
				}
			}

			span {
				-ms-transform: skewX(20deg);
				-webkit-transform: skewX(20deg);
				transform: skewX(20deg);
				display: inline-block;
				color: #FFF;
			}
		}

		.fl-button-text {
			letter-spacing: 0.025em;
		}

		&.solid {

			a.fl-button,
			a.uabb-button,
			.single_add_to_cart_button {
				background-color: $color--primary;

				&:hover {
					background-color: transparent;
					color: #FFF;
				}

			}
		}

	}

	/* INPUT */
	input[type=date],
	input[type=email],
	input[type=month],
	input[type=number],
	input[type=password],
	input[type=search],
	input[type=tel],
	input[type=text],
	input[type=time],
	input[type=url],
	input[type=week] {
		// height: auto;
		height: 46px !important;
		border-radius: 0 !important;
		margin-bottom: 20px !important;
	}

	// GLOBAL SELECT CSS
	select {
		display: block;
		font-size: 16px;
		font-family: sans-serif;
		font-weight: 700;
		color: #444;
		line-height: 1.3;
		padding: .6em 1.4em .5em .8em;
		width: 100%;
		max-width: 100%;
		box-sizing: border-box;
		margin: 0;
		border: 1px solid #aaa;
		box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
		// border-radius: .5em;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		background-color: #fff;
		background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
			linear-gradient(to bottom, #ffffff 0%, #ffffff 100%) !important;
		background-repeat: no-repeat, repeat;
		background-position: right .7em top 50%, 0 0;
		background-size: .65em auto, 100%;
	}

	select::-ms-expand {
		display: none;
	}

	select:hover {
		border-color: #888;
	}

	select:focus {
		border-color: #aaa;
		// box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
		// box-shadow: 0 0 0 3px -moz-mac-focusring;
		color: #222;
		outline: none;
	}

	select option {
		font-weight: normal;
	}

	label {
		line-height: normal;
		margin-bottom: 5px;
	}


	/* TYPOGRAPHY */
	.fl-heading-text span {
		color: $color--primary
	}

	.true-border-bottom h1,
	.true-border-bottom h2,
	.true-border-bottom h3,
	.true-border-bottom h4,
	.true-border-bottom h5,
	.true-border-bottom h6 {
		border-bottom: 3px solid $color--primary !important;
		padding-bottom: 5px !important;
	}

}
