.fl-page-content {

	/* BUTTONS */
	button.button,
	input[type=submit] {
		background-color: transparent;
		border: 3px solid $color--primary;
		border-radius: 0;
		font-size: 18px;
		padding: 10px 20px;
		transition: background 0.3s ease;

		&:hover {
			background-color: $color--primary;
			transition: background 0.3s ease;
			border: 3px solid $color--primary;
			color: #FFF;
		}

		&.button-secondary {
			background-color: $g;
			border: 3px solid $g;
			color: #FFF;

			&:hover {
				background-color: transparent;
				color: $g;
			}
		}
	}

	a.button,
	#review_form #respond .form-submit input {
		background-color: $color--primary;
		color: #FFF;
		border: none;
		border-radius: 0;
		transition: background 0.3s ease;

		&:hover {
			background-color: $color--primary--hover;
			border: none;
			color: #FFF;
		}

		&.checkout-button {
			color: #FFF;
			padding: 25px 10px;
			border: none;
			text-transform: uppercase;

			&:hover {
				background-color: $color--primary--hover;
				border: none;
				color: #FFF;
			}
		}
	}

	#review_form #respond .form-submit input {
		padding: 10px 20px;
		font-size: 16px;
		text-transform: uppercase;
	}

	.cta-btn {

		a.fl-button,
		a.uabb-button,
		.tribe-button,
		button,
		.single_add_to_cart_button,
		.single_add_to_cart_button.disabled,
		.fitting-submit button {
			-ms-transform: skewX(-20deg);
			-webkit-transform: skewX(-20deg);
			transform: skewX(-20deg);
			background-color: transparent !important;
			border: 3px solid $color--primary !important;
			border-radius: 0;
			font-size: 18px;
			padding: 13px 30px !important;
			transition: background 0.3s ease;
			color: #FFF;

			&:hover {
				background-color: $color--primary !important;
				transition: background 0.3s ease;
				border: 3px solid $color--primary;

				span {
					color: #FFF !important;
				}
			}

			&:disabled {
				opacity: 0.5;
				cursor: not-allowed;
			}

			span {
				-ms-transform: skewX(20deg);
				-webkit-transform: skewX(20deg);
				transform: skewX(20deg);
				display: inline-block;
				color: #FFF;
				text-align: center;

				>span {
					-ms-transform: none;
					-webkit-transform: none;
					transform: none;
				}
			}
		}

		.fl-button-text {
			letter-spacing: 0.025em;
		}

		&.solid {

			a.fl-button,
			a.uabb-button,
			.tribe-button,
			button,
			.single_add_to_cart_button,
			.fitting-submit button {
				background-color: $color--primary !important;

				/* Small Devices, Tablets */
				@media only screen and (max-width: 768px) {
					line-height: 24px;
				}

				&:hover {
					background-color: transparent !important;
					color: #FFF;


					.uabb-marketing-buttons-wrap {

						.uabb-marketing-title,
						.uabb-marketing-button-text,
						.uabb-marketing-button-text span {
							color: $color--primary;
						}
					}
				}

			}

			.tribe-button {
				min-width: 250px;
				text-transform: uppercase;

				&:hover span {
					color: $color--primary !important;
				}
			}
		}

	}

	button:active,
	input[type=button]:active,
	input[type=submit]:active,
	button:focus,
	input[type=button]:focus,
	input[type=submit]:focus {
		top: auto !important
	}

	/* INPUT */
	input[type=date],
	input[type=email],
	input[type=month],
	input[type=number],
	input[type=password],
	input[type=search],
	input[type=tel],
	input[type=text],
	input[type=time],
	input[type=url],
	input[type=week] {
		// height: auto;
		height: 46px !important;
		border-radius: 0 !important;
		margin-bottom: 20px !important;
	}

	// GLOBAL SELECT CSS
	select {
		display: block;
		font-size: 16px;
		font-family: sans-serif;
		font-weight: 700;
		color: #444;
		line-height: 1.3;
		padding: .6em 1.4em .5em .8em;
		width: 100%;
		max-width: 100%;
		box-sizing: border-box;
		margin: 0;
		border: 1px solid #aaa;
		box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
		// border-radius: .5em;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		background-color: #fff;
		background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
			linear-gradient(to bottom, #ffffff 0%, #ffffff 100%) !important;
		background-repeat: no-repeat, repeat;
		background-position: right .7em top 50%, 0 0;
		background-size: .65em auto, 100%;
	}

	select::-ms-expand {
		display: none;
	}

	select:hover {
		border-color: #888;
	}

	select:focus {
		border-color: #aaa;
		// box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
		// box-shadow: 0 0 0 3px -moz-mac-focusring;
		color: #222;
		outline: none;
	}

	select option {
		font-weight: normal;
	}

	label {
		line-height: normal;
		margin-bottom: 5px;
	}

	// CHECKBOX
	.cbx {
		margin: auto;
		-webkit-user-select: none;
		user-select: none;
		cursor: pointer;
	}

	.cbx span {
		display: inline-block;
		vertical-align: middle;
		transform: translate3d(0, 0, 0);
	}

	.cbx span:first-child {
		position: relative;
		width: 24px;
		height: 24px;
		border-radius: 3px;
		transform: scale(1);
		vertical-align: middle;
		border: 1px solid $color--primary;
		transition: all 0.2s ease;
	}

	.cbx span:first-child svg {
		position: absolute;
		top: 3px;
		left: 3px;
		fill: none;
		stroke: #FFFFFF;
		stroke-width: 2;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-dasharray: 16px;
		stroke-dashoffset: 16px;
		transition: all 0.3s ease;
		transition-delay: 0.1s;
		transform: translate3d(0, 0, 0);
	}

	.cbx span:first-child:before {
		content: "";
		width: 100%;
		height: 100%;
		background: $color--primary;
		display: block;
		transform: scale(0);
		opacity: 1;
		border-radius: 50%;
	}

	.cbx span:last-child {
		padding-left: 8px;
	}

	.cbx:hover span:first-child {
		border-color: $color--primary;
	}

	.inp-cbx:checked+.cbx span:first-child {
		background: $color--primary;
		border-color: $color--primary;
		animation: wave 0.4s ease;
	}

	.inp-cbx:checked+.cbx span:first-child svg {
		stroke-dashoffset: 0;
	}

	.inp-cbx:checked+.cbx span:first-child:before {
		transform: scale(3.5);
		opacity: 0;
		transition: all 0.6s ease;
	}

	@keyframes wave {
		50% {
			transform: scale(0.9);
		}
	}

	/* Radio Buttons
   ========================================================================== */

	// Remove default Radio Buttons
	[type="radio"]:not(:checked),
	[type="radio"]:checked {
		position: absolute;
		opacity: 0;
		pointer-events: none;
	}

	[type="radio"]:not(:checked)+span,
	[type="radio"]:checked+span {
		position: relative;
		padding-left: 35px;
		cursor: pointer;
		display: inline-block;
		height: 25px;
		line-height: 25px;
		font-size: 1rem;
		transition: .28s ease;
		user-select: none;
	}

	[type="radio"]+span:before,
	[type="radio"]+span:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		margin: 4px;
		width: 16px;
		height: 16px;
		z-index: 0;
		transition: .28s ease;
	}

	/* Unchecked styles */
	[type="radio"]:not(:checked)+span:before,
	[type="radio"]:not(:checked)+span:after,
	[type="radio"]:checked+span:before,
	[type="radio"]:checked+span:after,
	[type="radio"].with-gap:checked+span:before,
	[type="radio"].with-gap:checked+span:after {
		border-radius: 50%;
	}

	[type="radio"]:not(:checked)+span:before,
	[type="radio"]:not(:checked)+span:after {
		border: 2px solid $radio-empty-color;
	}

	[type="radio"]:not(:checked)+span:after {
		transform: scale(0);
	}

	/* Checked styles */
	[type="radio"]:checked+span:before {
		border: 2px solid transparent;
	}

	[type="radio"]:checked+span:after,
	[type="radio"].with-gap:checked+span:before,
	[type="radio"].with-gap:checked+span:after {
		border: $radio-border;
	}

	[type="radio"]:checked+span:after,
	[type="radio"].with-gap:checked+span:after {
		background-color: $radio-fill-color;
	}

	[type="radio"]:checked+span:after {
		transform: scale(1.02);
	}

	/* Radio With gap */
	[type="radio"].with-gap:checked+span:after {
		transform: scale(.5);
	}

	/* Focused styles */
	[type="radio"].tabbed:focus+span:before {
		box-shadow: 0 0 0 10px rgba(0, 0, 0, .1);
	}

	/* Disabled Radio With gap */
	[type="radio"].with-gap:disabled:checked+span:before {
		border: 2px solid $input-disabled-color;
	}

	[type="radio"].with-gap:disabled:checked+span:after {
		border: none;
		background-color: $input-disabled-color;
	}

	/* Disabled style */
	[type="radio"]:disabled:not(:checked)+span:before,
	[type="radio"]:disabled:checked+span:before {
		background-color: transparent;
		border-color: $input-disabled-color;
	}

	[type="radio"]:disabled+span {
		color: $input-disabled-color;
	}

	[type="radio"]:disabled:not(:checked)+span:before {
		border-color: $input-disabled-color;
	}

	[type="radio"]:disabled:checked+span:after {
		background-color: $input-disabled-color;
		border-color: $input-disabled-solid-color;
	}

	/* STANDARD WOO RADIOS */
	.woocommerce-shipping-methods {
		li {
			position: relative;
			margin-bottom: 1rem;
			margin-top: 1rem;

			label {
				display: block;
				padding: 0 0 0 25px;
			}

			input {
				height: 16px;
				left: 0;
				opacity: 0;
				position: absolute;
				top: 0;
				width: 16px;
				&:checked+label::after {
					opacity: 1;
				}
				&:checked+label::before {
					opacity: 0;
				}
				&:focus+label::before {
					box-shadow: 0 0 0 3px #ffbf47;
					outline: 3px solid transparent;
					/* For Windows high contrast mode. */
				}
			}

			input+label {
				&:before {
					border: 2px solid;
					content: "";
					height: 16px;
					left: 0;
					position: absolute;
					top: 2px;
					width: 16px;
					border-radius: 50%;
				}

				&:after {
					content: "";
					opacity: 0;
					border: 8px solid $color--primary;
					border-radius: 50%;
					position: absolute;
					left: 0px;
					top: 2px;
					transition: opacity 0.2s ease-in-out;
				}
			}
		}
		@media only screen and (max-width: 768px) {
			margin-top: 30px !important;
		}
	}



	/* TYPOGRAPHY */
	.fl-heading-text span {
		color: $color--primary
	}

	.true-border-bottom h1,
	.true-border-bottom h2,
	.true-border-bottom h3,
	.true-border-bottom h4,
	.true-border-bottom h5,
	.true-border-bottom h6 {
		border-bottom: 3px solid $color--primary !important;
		padding-bottom: 5px !important;
	}

}

// REMOVE PROMOTER FROM PUBLIC ADMIN BAR
body.theme-bb-theme,
body.checkout-wc {

	#wp-admin-bar-promoter-admin-bar,
	#wp-admin-bar-wpseo-menu,
	#wp-admin-bar-new-content {
		display: none;
	}
}