header {

	#menu-main-menu {
		li {

			a,
			.fl-has-submenu-container:hover a {
				text-transform: uppercase;
				background-color: transparent;

				&:hover {
					background-color: transparent;

					&:after {
						width: 100%;
						transition: width .3s;
					}
				}

				&:after {
					content: '';
					display: block;
					width: 0;
					height: 2px;
					background: $color--primary;
					transition: width .3s;
				}
			}

			.sub-menu {
				li {
					a {
						&:hover {
							color: #FFF;
						}
					}

					&.current-menu-item {
						a {
							color: #FFF;
						}
					}
				}
			}

			@media all and (max-width: 1380px) and (min-width: 993px) {
				a {
					padding-left: 5px;
				}

			}
		}

	}

	@media all and (max-width: 1380px) and (min-width: 993px) {
		.main-nav-wrapper .fl-module-content {
			margin-top: 5px;
			#menu-main-menu {
				text-align: center;
				a {
					padding-bottom: 10px
				}
			}
		}
		#menu-shop-menu {
			li.wpmenucartli a.wpmenucart-contents span {
				display: none !important;
			}
		}
	}
	@media all and (max-width: 1380px) and (min-width: 1227px) {
		.main-nav-wrapper .fl-module-content {
			margin-top: 15px;
		}
	}


	.wpmenucart-contents::before {
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		content: "";
		margin-right: 3px;
	}

	.fl-menu .fl-menu-mobile-toggle {
		color: #FFFFFF;

		&.hamburger-label {
			padding: 0;
		}

	}

	#menu-mobile-shop-menu .menu-item a {
		color: transparent;
		overflow: hidden;
		max-height: 40px;
		width: 40px;

		&:before {
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			content: "";
			margin-right: 3px;
			font-size: 22px;
			position: relative;
			top: -5px;
			left: -9px;
			color: #FFF;
		}
	}

	.fl-page-nav-search form {
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	/* Custom, iPhone Retina */
	@media only screen and (min-width: 320px) {}

	/* Extra Small Devices, Phones */
	@media only screen and (min-width: 480px) {}

	/* Small Devices, Tablets */
	@media only screen and (min-width: 768px) {
		#menu-main-menu .wpmenucart {
			display: none;
		}
	}

	/* Medium Devices, Desktops */
	@media only screen and (min-width: 992px) {
		.add-search-icon .fl-module-content .menu {
			margin-right: 30px;
		}

		.fl-row-content-wrap .fl-page-nav-search {
			margin-top: 20px;
			right: 10px;

			a {
				color: #fff;
			}
		}

		.fl-page-nav-search a.fa-search {
			padding: 4px;
			font-size: 18px;
		}
	}

	/* HEADER SEARCH FORM */
	.fl-page-nav-search form {
		background-color: transparent;
		border: none;

		&::after {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			background: inherit;
			z-index: -1;
			bottom: 0;
			transform-origin: left bottom;
			transform: skewX(-20deg);
			background-color: $color--primary;
			margin: 0 30px 0 -30px;
		}

		input.fl-search-input {
			border-right: none;
			border-left: none;
			border-top: none;
			background-color: transparent;
			color: #FFF;

			&:focus {
				color: #FFF;
			}

			&::-webkit-input-placeholder {
				/* Chrome/Opera/Safari */
				color: #FFF;
			}

			&::-moz-placeholder {
				/* Firefox 19+ */
				color: #FFF;
			}

			&:-ms-input-placeholder {
				/* IE 10+ */
				color: #FFF;
			}

			&:-moz-placeholder {
				/* Firefox 18- */
				color: #FFF;
			}
		}
	}

	/* Large Devices, Wide Screens */
	@media only screen and (min-width: 1200px) {
		#menu-main-menu .wpmenucart {
			display: none;
		}
	}
}
