.inline-countdown {
  .uabb-countdown {
    text-align: left !important;
    .uabb-countdown-holding {
      margin-bottom: 0;
      .uabb-countdown-digit-wrapper {
        display: inline-block;
        margin-right: 5px;
        h3 {
          margin-bottom: 0;
        }
      }
      .uabb-countdown-unit-names {
        display: inline-block;
        
      }
      &:after {
        content: ',';
        display: inline;
      }
      &:last-child:after {
        content: '';
      }
    }
    
  }
}


.page-id-5004 {
    .page-title {
        svg {
            max-width: 200px;
            display: inline;
            position: relative;
            bottom: 12px;
        }
        h1 {
            font-size: 46px;
        }
    }
}

// Ninja Forms dark Theme
.pika-single {
    color: #fff;
    background: #333;
    border: 1px solid #666;
    border-bottom-color: #999;
    .pika-label {
      background-color: #333;
    }
  
    .pika-prev, .is-rtl .pika-next {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAQAAACGG/bgAAAAQ0lEQVR4Ae3KIQ4AIBTD0N0/IeHGI3UIRA3ut/Zl+ltXc5++htVAmIAwAWECwgSEKbgthEoIlRAqIVRCqINQB9nDgQd7ktwFo6UpWQAAAABJRU5ErkJggg==');
    }
  
    .pika-next, .is-rtl .pika-prev {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAQAAACGG/bgAAAAP0lEQVQ4y+3TMQoAMAgEwfwfAvvjTZ1uGzuvHhBPPGczEG+FRqqRaqQaqUaqkX6QBmmjacvQ6qEVTjsh+xizebvlaWptGXZAAAAAAElFTkSuQmCC');
    }
  
    .pika-table th {
      color: #999;
    }
  
    .pika-button {
      color: #fff;
      background: #222;
      border: none;
      border-radius: 0;
      ;
    }
  
    .pika-week {
      color: #999;
    }
  
    .is-today .pika-button {
      color: #33aaff;
    }
  
    .is-selected .pika-button {
      color: #fff;
      background: #33aaff;
      box-shadow: inset 0 1px 3px #178fe5;
      box-shadow: none
    }
  
    .is-disabled .pika-button {
      color: #999;
      opacity: .3;
    }
  
    .pika-button:hover {
      color: #fff !important;
      background: $color--primary !important;
    }
  }