.page-id-5004 {
    .page-title {
        svg {
            max-width: 200px;
            display: inline;
            position: relative;
            bottom: 12px;
        }
        h1 {
            font-size: 46px;
        }
    }
}
