.woocommerce-page {

	.woocommerce-message {
		background-color: $on-dark-bg;
		border: none;
		color: #FFF;
	}

	.woocommerce-error {
		color: #b84048 !important;
	}

	.bat-hero {
		background-attachment: scroll;
		background-image: url("assets/img/true-diagram-background.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: #000
	}

	// .uabb-woo-products-grid .uabb-woo-product__column-3 li.product:nth-child(3n+1) {
	// 	margin-left: 0;
	// }

	.uabb-woo-products-grid .uabb-woo-product__column-3 li.product {
		margin-left: 0;
	}

	ul.products li.product a img {
		border: 1px solid transparent;
		transition: border-color 0.5s ease;
	}

	&.single-product {
		// .technical .fl-row-content-wrap {
		// 	background-image: linear-gradient(110deg, #000000 30%, #787878 calc(30% + 2px));
		// }

		.fl-module-uabb-image-carousel,
		.mfp-figure:after {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,00152a+100 */
			background: linear-gradient(45deg, #000000 0%, #00152a 100%);
			/* Old browsers */
			/* FF3.6-15 */
			/* Chrome10-25,Safari5.1-6 */
			/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00152a', GradientType=1);
			/* IE6-9 fallback on horizontal gradient */
		}

		.uabb-background-mask {
			background: transparent;
		}

		.organization-logo img {
			opacity: .5;
		}

		.product_meta {
			border-top: 3px solid #00aeef
		}

		.product-price .woocommerce-Price-amount {
			color: #00aeef;
			font-size: 36px;
			font-weight: 700;
		}

		.variations td.label {
			width: 30%;

			label {
				color: #FFF;
				font-weight: 700 !important;
				padding-top: 5px;
			}
		}

		form.cart {

			.quantity input.qty {
				height: 52px !important;
				border-radius: 0;
				padding-right: 50px;
				width: auto;
			}

			.single_add_to_cart_button {
				margin-left: -55px;

				&.disabled {
					background: #000 !important;
					opacity: 1 !important;

					span {
						opacity: .3;
					}
				}

				&:hover {
					background: #000 !important
				}

			}
		}

		.iconic-cffv-field__label.iconic-cffv-field__label--above {
			width: 30%;
			display: inline-block;
		}

		.iconic-cffv-field__content {
			display: inline-block;
		}


		.matchHeight {

			.fl-module-content,
			.fl-photo,
			.fl-photo-content,
			.fl-photo-content img {
				max-height: inherit;
			}
		}

		.technical {
			.woocommerce-product-attributes {

				th,
				td {
					border-bottom: 1px solid #131315;
				}

				.woocommerce-product-attributes-item__label {
					color: #00aeef;
					width: 35%;
				}
			}
		}
	}

	#reviews {

		.contributions-title,
		.contributions-form-title,
		#contributions-list-title {
			border-bottom: 3px solid #00aeef;
			padding-bottom: 5px;
			text-transform: uppercase;
			margin-bottom: 25px;
		}

		// OVERALL RATING MODULE
		.product-rating {
			background: #001a24;
			margin: 0 auto 55px 0;
			padding: 18px 23px 17px;
			position: relative;
			width: calc(100% - 19px);

			&:after {
				content: "";
				display: inline-block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 160px 19px 0 0;
				border-color: #001a24 transparent transparent;
				position: absolute;
				right: -19px;
				top: 0;
				bottom: 0;
			}

			h3,
			p {
				color: #FFF;
			}

			.product-rating-details {
				.rating-graph .bar {
					background-color: #FFF !important;
				}

				.rating-count a {
					text-decoration: none !important;
				}
			}
		}

		// LET US KNOW MODULE
		.contribution-type-selector {
			margin: 0 20px;
			width: calc(100% - 40px);



			// border: none !important;
			// padding: 0;
			// position: relative;
			// font-size: 18px;

			&>a.active {
				border: 0;
				background-color: $color--primary;

				a {
					color: #FFF;
					font-weight: 700;
				}

				&:before,
				&:after {
					content: "";
					display: inline-block;
					position: absolute;
					top: 0;
					width: 0;
					height: 0;
					border-style: solid;
				}

				&:before {
					left: -20px;
					border-width: 0 0 46px 20px;
					border-color: transparent transparent $color--primary;
				}

				&:after {
					right: -20px;
					border-width: 46px 20px 0 0;
					border-color: $color--primary transparent transparent;
				}
			}


			a {
				padding-left: 10px !important;
				transition: background .3s ease;
				text-transform: uppercase;
				position: relative;
				padding: 14px;
				line-height: normal;

				&:before {
					content: "";
					display: inline-block;
					position: absolute;
					left: -20px;
					top: 0;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 0 46px 20px;
					border-color: transparent;
					transition: border .3s ease;
				}

				&:after {
					content: "";
					display: inline-block;
					position: absolute;
					right: -20px;
					top: 0;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 46px 20px 0 0;
					border-color: transparent;
					transition: border .3s ease;
				}

				&:hover {
					background-color: $color--primary--hover;
					color: #FFF;
					text-decoration: none;

					&:before {
						content: "";
						display: inline-block;
						position: absolute;
						left: -20px;
						top: 0;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0 0 46px 20px;
						border-color: transparent transparent $color--primary--hover;
						transition: border .3s ease;
					}

					&:after {
						content: "";
						display: inline-block;
						position: absolute;
						right: -20px;
						top: 0;
						width: 0;
						height: 0;
						color: $color--primary;
						border-style: solid;
						border-width: 46px 20px 0 0;
						border-color: $color--primary--hover transparent transparent;
						transition: border .3s ease;
					}
				}



			}



			// &>a.active {
			// 	background-color: #00aeef;
			// 	padding: 10px 0;
			// 	position: relative;
			// 	line-height: 22px;
			// 	// transition: all .3s ease;

			// 	&:before {
			// 		content: "";
			// 		display: inline-block;
			// 		position: absolute;
			// 		left: -20px;
			// 		top: 0;
			// 		width: 0;
			// 		height: 0;
			// 		border-style: solid;
			// 		border-width: 0 0 42px 20px;
			// 		border-color: transparent transparent #00aeef;
			// 		// transition: all .3s ease;
			// 	}

			// 	&:after {
			// 		content: "";
			// 		display: inline-block;
			// 		position: absolute;
			// 		right: -20px;
			// 		top: 0;
			// 		width: 0;
			// 		height: 0;
			// 		color: #00aeef;
			// 		border-style: solid;
			// 		border-width: 42px 20px 0 0;
			// 		border-color: #00aeef transparent transparent;
			// 		// transition: all .3s ease;
			// 	}
			// }
		}

		// FORM 
		.contribution-form-wrapper form {
			border: none;
			background: rgba(255, 255, 255, 0.2);

			.star-rating-selector:not(:checked) label.checkbox:hover,
			.star-rating-selector:not(:checked) label.checkbox:hover~label.checkbox {
				color: #00aeef;
				transition: all .3s ease;
			}

			.star-rating-selector abbr {
				margin-right: 25px;
			}

			.star-rating-selector label {
				margin-right: 5px;
			}
		}

		.woocommerce-input-wrapper {
			width: 100%;
		}


		#comments {
			margin-top: 35px;

			ol.commentlist li {
				border-top: 1px solid #000;

				.comment-text {
					margin-left: 0;
				}

				.contribution-badge,
				.meta,
				.contribution-actions>a {
					color: #FFF;
				}

				a.flag {
					color: #666
				}

				.contribution-actions>span {
					margin-right: 20px;
				}

				.children {
					padding-left: 0;
				}
			}
		}

		#subscribe_to_replies_field {
			.input-checkbox {
				margin: 6px 8px 0 -20px;
			}

			label.checkbox {
				margin-left: 20px;
			}
		}

	}
}
